
$primary: #13795b;
$secondary: #0d503c;
$dark: #262323;
$border-radius: 1rem; 
$border-radius-lg: 1rem; 
$border-radius-sm: 1rem;
$modal-content-border-radius: 50%;
// change variables above this line

@import "../../node_modules/bootstrap/scss/bootstrap";
